/*Stying for all pages */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #e0e0e0;
	font-family: 'Raleway', sans-serif;
}

/*Styling for sidebar navigation*/
.wrapper {
	align-items: stretch;
	display: flex;
}

#sidenav {
	background-color: #a69b97;
	font-size: 18px;
	min-height: 100vh;
}

#sidenav.active {
	margin-left: -270px;
}

.img-responsive {
	height: auto;
	max-width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
	}

a[data-toggle="collapse"] {
	    position: relative;
	}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
	    content: '\e259';
	    display: block;
	    position: absolute;
	    right: -15px;
		bottom: 1px;
	    font-family: 'Glyphicons Halflings';
	    font-size: 0.6em;
	}

a[aria-expanded="true"]::before {
	    content: '\e260';
	}

nav a {
	background-color: #a69b97;
	text-align: center;
}

nav a:hover {
	background-color: #494949;
	color: white;
}

li {
	font-size: 19px;
	padding: 10px;
}

li.active {
	font-weight: bold;
}

/*Styling for main page; pairing pizza and wine*/

#main-nav-text {
	text-align: center;
}

.intro-text,
.wine-text {
	margin: 0 auto;
	padding: 30px;
	width: 60%;
}

#wine-container,
.topping-options {
	display: inline-block;
	margin: auto;
	padding: 15px;
	position: relative;
	text-align: center;
}

.topping-options img {
	height: 125px;
    width: 125px;
    margin: 5px;
}

.wine-match {
	border-style: double;
	padding: 10px;
}

.wineFont,
footer,
p {
	font-family: 'Lobster', serif;
}

/*Finda a pair map page styling*/

.btn,
#mapbtn {
	color: white;
	background-color: gray;
	border: solid 1px;
	font-family: 'Lobster', serif;
	padding-left: 4px;
	padding-right: 4px;
}

.button-panel {
	margin-top: 20px;
	margin-bottom: 20px;
}

.responsiveMap {
   position: relative;
}

#map {
   border: solid 1px;
   height: 0;
   overflow: hidden;
   padding-bottom: 22%;
   padding-top: 10%;
   position: relative;
}

/*Mobile styling*/
@media screen and (max-width: 768px) {
	#wine-container,
	.topping-options {
		display: inline-block;
		margin: auto;
		padding: 15px;
		position: relative;
		text-align: center;
	}

     h2 {font-size: 17px;}

	 h3 {font-size: 14px;}

	 h4 {font-size: 11px;}

	 img {
		height: 75px;
	 	width: 75px;
		margin: 2px;
		}

	.topping-options img {
		height: 50px;
		width: 50px;
		margin: 2px;
		}

	#sidenav {
	font-size: 14px;
	max-width: 120px;
	margin-left: -270px;
	min-height: 100px;
	}

	#sidenav.active {
		margin-left: 0;
	}

	.intro-text, .wine-text {
			margin: 0 auto;
			padding: 15px;
			width: 40%;
		}
}
